.articleContainer {
  display: flex;
}

.articleText {
  display: flex;
  flex: 1;
  height: 650px;
}
.articleText_text {
  margin: auto;
}
.articleText p {
  color: #a0a3bd;
  font-size: 25px;
}
.articleText h1 {
  color: rgba(95, 46, 234, 1);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 60px;
}
.articleImg {
  display: flex;
  flex: 1;
  height: 650px;
  text-align: center;
  justify-content: center;
}

.articleImg_img {
  margin: auto;
  height: 500px;
}
/* --------------------------------------------------------------------- */

.firstSection {
  background-color: rgba(245, 246, 248, 1);
  height: 750px;
}

.nowShowing_nav {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  align-items: center;
}
.nowShowing_textShowing,
.nowShowing_textView {
  text-decoration: none;
  color: rgba(95, 46, 234, 1);
  font-weight: bold;
}
.nowShowing_textShowing {
  font-size: 24px;
  text-decoration: underline;
  text-underline-offset: 10px;
}
.nowShowing_textView {
  margin-right: 50px;
}
.containerCard {
  margin-top: 40px;
  overflow-x: auto;
  white-space: nowrap;
}
.cardMovie {
  display: inline-block !important;
}
/* -------------------------------------------------------------------- */
.secondSection {
  height: 750px;
}
/* -------------------------------------------------------------------------- */
.thirdSection {
  height: 620px;
}
.join {
  width: 70%;
  height: 260px;
  box-shadow: 0px 13px 62px 0px rgba(186, 186, 186, 0.3);
  margin-top: 20px;
  padding-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 30px auto 0px auto;
}
.joinText {
  margin-bottom: 20px;
}
.joinText > h2 {
  color: rgba(95, 46, 234, 1);
}
.joinInput {
  margin-bottom: 30px;
}
.joinInput input {
  border-radius: 5px;
  border: 2px solid #dedede;
  border-color: rgba(222, 222, 222, 1);
  background: #fcfdfe;
  padding: 6px 30px;
}
.joinInput button {
  padding: 10px 10px;
  background-color: rgba(95, 46, 234, 1);
  color: white;
  border-color: white;
}

.join footer {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: rgba(110, 113, 145, 1);
}

.scheduleContainer {
  display: flex;
  justify-content: center;
}
@media (max-width: 376px) {
  .articleContainer {
    display: block;
  }
  .articleText {
    height: 100%;
    margin-top: 30px;
  }
  .articleText_text {
    margin: auto;
  }
  .articleText p {
    font-size: 20px;
    text-align: center;
  }
  .articleText h1 {
    font-size: 50px;
  }
  .articleImg {
    height: 100%;
    margin-top: 20px;
  }
  .articleImg_img {
    margin: 0px;
    height: 400px;
  }

  .firstSection {
    height: 667px;
  }
  .nowShowing_textView {
    margin-right: 10px;
  }
  .nowShowing_textShowing {
    font-size: 20px;
  }

  .join {
    width: 100%;
  }
  .joinInput {
    display: flex;
    flex-direction: column;
  }
  .joinInput input {
    text-align: center;
  }
  .scheduleContainer {
    display: block;
  }
}
