@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

.main {
  display: flex;
  box-sizing: border-box;
  height: 100%;
}

.banner {
  flex: 5;
  position: relative;
}

.banner_img {
  width: 100%;
  height: 750px;
  object-fit: cover;
}

.text_span {
  font-size: 50px;
  color: white;
  font-family: "Mulish", sans-serif;
}

.banner__overlay {
  background-color: rgba(43, 21, 107, 0.8);
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.img_logo {
  /* width: 100%;
  height: 750px;
  object-fit: cover; */
}
.form {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
}
.textH2 {
  color: rgba(95, 46, 234, 1);
}
.form_main {
  margin: auto 65px;
}

.form_text {
  font-size: 10px;
  text-align: justify;
  margin: 10px 0px;
  color: rgba(170, 170, 170, 1);
}
.form_input {
  margin-top: 20px;
  margin-bottom: 20px;
}
.input {
  display: block;
  padding: 10px;
  padding-left: 20px;
  width: 381px;
  border: 1px solid #dedede;
  border-radius: 9px;
  border-color: rgba(222, 222, 222, 1);
  background: #fcfdfe;
  margin: 10px;
}
.button_main {
  display: flex;
  justify-content: center;
}
.button2 {
  color: white;
  padding: 10px 170px;
  background-color: rgba(95, 46, 234, 1);
  margin-top: 20px;
}

.icon_eye {
  cursor: pointer;
  position: absolute;
  margin-top: 45px;
  margin-left: 280px;
}

.register__account,
.forgot__password {
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 376px) {
  .banner {
    display: none;
  }
  .banner_img {
    width: 100%;
    height: 667px;
    object-fit: cover;
  }
  .main {
    flex-direction: column;
  }
  .img_logo {
    width: 200px;
  }
  .text_span {
    color: white;
    font-size: 20px;
  }

  .form {
    width: 375px;
    height: 667px;
    display: flex;
    /* background-color: blue; */
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .form_text {
    /* color: white; */
    font-size: 13px;
  }
  .form__input .span_email {
    padding-top: 10000px;
  }
  .input {
    display: block;
    padding: 10px 30px;
    border: 1px solid #dedede;
    border-radius: 9px;
    border-color: rgba(222, 222, 222, 1);
    background: #fcfdfe;
    margin: 10px 0px;
    /* margin: 10px 0px; */
  }
  .icon_eye {
    cursor: pointer;
    position: absolute;
    margin-top: 44px;
    margin-left: 140px;
  }
  .button_main {
    text-align: center;
  }
  .button2 {
    color: white;
    padding: 10px 90px;
    background-color: rgba(95, 46, 234, 1);
    border-radius: 10px;
    margin: 10px 0px;
  }
}
